<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'stiltonstriders/css/styles.css' %}">

    {% block head %}
    {% endblock %}



</head>

<body>
    <div id="page-container">
        <div id="content-wrap">
            <nav class="navbar navbar-expand-md navbar-dark">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img style="width: 80px;" src="{% static 'stiltonstriders/images/stilton_striders_logo.jpg' %}"
                        alt="Stilton Striders Logo">
                    Stilton Striders
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a href="{% url 'index' %}" class="nav-item nav-link">
                            <i class="material-icons">home</i>
                            Welcome
                        </a>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">people</i>
                                Members
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a href="{% url 'juniors' %}" class="dropdown-item">
                                    <i class="material-icons">face</i>
                                    Juniors
                                </a>
                                <a href="{% url 'seniors' %}" class="dropdown-item">
                                    <i class="material-icons">people</i>
                                    Seniors
                                </a>
                            </div>
                        </li>
                        <a href="{% url 'events' %}" class="nav-item nav-link">
                            <i class="material-icons">today</i>
                            Calendar
                        </a>
                        <a href="{% url 'index' %}" class="nav-item nav-link">
                            <i class="material-icons">contact_mail</i>
                            Contact Us
                        </a>
                    </div>
                </div>
            </nav>
            {% block body %}
            {% endblock %}
        </div>


        <footer id="footer">
            <div>
                <i class="material-icons">copyright</i>
                Stilton Striders 2020
            </div>
            <div class="social-links">
                <a href="https://www.facebook.com/StiltonStriders/">
                    <svg fill="white" class="svg-icon" viewBox="0 0 20 20">
                        <path
                            d="M11.344,5.71c0-0.73,0.074-1.122,1.199-1.122h1.502V1.871h-2.404c-2.886,0-3.903,1.36-3.903,3.646v1.765h-1.8V10h1.8v8.128h3.601V10h2.403l0.32-2.718h-2.724L11.344,5.71z">
                        </path>
                    </svg>
                </a>
                <a href="https://twitter.com/stiltonstriders">
                    <svg fill="white" class="svg-icon" viewBox="0 0 20 20">
                        <path
                            d="M18.258,3.266c-0.693,0.405-1.46,0.698-2.277,0.857c-0.653-0.686-1.586-1.115-2.618-1.115c-1.98,0-3.586,1.581-3.586,3.53c0,0.276,0.031,0.545,0.092,0.805C6.888,7.195,4.245,5.79,2.476,3.654C2.167,4.176,1.99,4.781,1.99,5.429c0,1.224,0.633,2.305,1.596,2.938C2.999,8.349,2.445,8.19,1.961,7.925C1.96,7.94,1.96,7.954,1.96,7.97c0,1.71,1.237,3.138,2.877,3.462c-0.301,0.08-0.617,0.123-0.945,0.123c-0.23,0-0.456-0.021-0.674-0.062c0.456,1.402,1.781,2.422,3.35,2.451c-1.228,0.947-2.773,1.512-4.454,1.512c-0.291,0-0.575-0.016-0.855-0.049c1.588,1,3.473,1.586,5.498,1.586c6.598,0,10.205-5.379,10.205-10.045c0-0.153-0.003-0.305-0.01-0.456c0.7-0.499,1.308-1.12,1.789-1.827c-0.644,0.28-1.334,0.469-2.06,0.555C17.422,4.782,17.99,4.091,18.258,3.266">
                        </path>
                    </svg>
                </a>
                <a href="http://www.strava.com/clubs/StiltonStriders">
                    <svg fill="white" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <title>Strava icon</title>
                        <path
                            d="M15.387 17.944l-2.089-4.116h-3.065L15.387 24l5.15-10.172h-3.066m-7.008-5.599l2.836 5.598h4.172L10.463 0l-7 13.828h4.169" />
                    </svg>
                </a>
            </div>
        </footer>
    </div>

</body>

</html>