{% extends "stiltonstriders/base.html" %}
{% block title %}Stilton Striders{% endblock%}

{% block body %}
{% load static %}


<div class="body-div">
    <h1>Juniors</h1>
    <div>
        <p>Tuesdays and Thursdays are junior training nights, with sessions organised by our qualified coaches, led by Di Underwood.

            During the spring and summer, Tuesdays we meet at MV 16 (next to Melton Sports Village) at 6.15pm and Thursdays we meet at the Country Park visitor centre at 6pm.  These sessions are all outdoors, free of charge and are held in all weathers.
            
            During the autumn and winter, Tuesdays we meet at 6.15pm outside Argos in the centre of Melton for a free outdoor session and on Thursdays we meet at 6pm at the Defence Animal Centre.
            
            Before attending for the first time, please email Di Underwood at roadrunner2uk@yahoo.co.uk
            
            For updates, search Facebook for “Stilton Striders Juniors Page” or click the link.</p>
    </div>
</div>

{% endblock %}