{% extends "stiltonstriders/base.html" %}
{% block title %}Stilton Striders{% endblock%}

{% block body %}
{% load static %}

<img class="d-block w-100 img-fluid" src="{% static 'stiltonstriders/images/stilton7.jpg' %}"
alt="Stilton Striders group photo">
<div class="body-div">
    <h1>Seniors</h1>
    <div>
        <p>See header photo for details of our club runs in and around Melton Mowbray.  We currently arrange group runs, structured sessions and a Friday evening social run for our members.  We can often also be found at MRC on a Monday and parkrun on a Saturday, as well as races locally and beyond…

            For regular updates, search “Stilton Striders Running Club” on Facebook or click the link.  For members, we also have an active Facebook group “Stilton Striders RC“.
            
            All our kit is available from Michael at Melton Sports.</p>
    </div>
</div>

{% endblock %}